# Django settings
DEBUG=True
SECRET_KEY=django-insecure-your-secret-key-here
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration (Optional, defaults to sqlite)
# DATABASE_URL=postgres://user:password@localhost:5432/dbname

# Celery Configuration
# REDIS_URL=redis://localhost:6379/0
