{% extends 'accounts/base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h2>Change Password</h2>
<form method="post" class="w-50">
  {% csrf_token %}
  <div class="mb-3">
    <label>New Password</label>
    <input type="password" name="new_password" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Confirm Password</label>
    <input type="password" name="confirm_password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Change Password</button>
</form>
{% endblock %}
